In [1]:
import rpy2.robjects as robjects 
from rpy2.robjects.packages import importr  
import rpy2.rinterface as ri
biobase = importr('Biobase')

In [2]:
r = robjects.r 
g = robjects.globalenv 
dim = r['dim']

In [3]:
r('data("sample.ExpressionSet")')

R object with classes: ('character',) mapped to:
<StrVector - Python:0x2b1b88d5dcc8 / R:0x2b1b385230f0>
['sample.ExpressionSet']

In [4]:
sample_ExpressionSet = r['sample.ExpressionSet']

In [5]:
eset = sample_ExpressionSet

In [6]:
print(eset)

ExpressionSet (storageMode: lockedEnvironment)
assayData: 500 features, 26 samples
  element names: exprs, se.exprs
protocolData: none
phenoData
  sampleNames: A B ... Z (26 total)
  varLabels: sex type score
  varMetadata: labelDescription
featureData: none
experimentData: use 'experimentData(object)'
Annotation: hgu95av2

In [7]:
print(dim(eset))

Features  Samples
     500       26

In [11]:
r('expression_data <- exprs(sample.ExpressionSet)')
r('expression_data_df <- as.data.frame(expression_data)')

R object with classes: ('data.frame',) mapped to:
<DataFrame - Python:0x2b1b88eb1dc8 / R:0x2b1b8a186470>
[FloatVector, FloatVector, FloatVector, FloatVector, ..., FloatVector, FloatVector, FloatVector, FloatVector]
  A: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x2b1b88eb1f48 / R:0x2b1b8a814040>
[192.742000, 97.137000, 45.819200, 22.544500, ..., 446.512000, 22.464100, 299.434000, 253.692000]
  B: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x2b1b88eb1388 / R:0x2b1b8a8187d0>
[85.753300, 126.196000, 8.831350, 3.600930, ..., 271.494000, 23.458900, 233.138000, 183.306000]
  C: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x2b1b88eb1248 / R:0x2b1b8a81cf60>
[176.757000, 77.921600, 33.063200, 14.688300, ..., 304.809000, 39.417000, 355.204000, 291.385000]
  D: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x2b1b88eb13c8 / R:0x2b1b8a8216f0>
[135.575000, 93.371300, 28.707200, 12.339700, ..., 340.978000, 25.745200, 314.818000, 270.719000]
...
  F: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x2b1b88eb1e48 / R:0x2b1b8a87c440>
[93.882900, 79.299800, 22.342000, 11.139000, ..., 318.681000, 22.925000, 283.962000, 180.556000]
  G: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x2b1b88eb4188 / R:0x2b1b8a882af0>
[103.855000, 71.655200, 19.013500, 7.555640, ..., 304.960000, 14.901700, 230.878000, 247.590000]
  H: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x2b1b88eb4708 / R:0x2b1b8a887280>
[64.434000, 64.236900, 12.168600, 19.984900, ..., 318.736000, 22.734100, 216.652000, 137.959000]
  I: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x2b1b88eb4608 / R:0x2b1b8a88ba10>
[175.615000, 78.706800, 17.378000, 8.968490, ..., 291.709000, 24.274600, 297.740000, 287.749000]

In [12]:
expression_df = r['expression_data_df']

In [29]:
rownames = r['rownames']

In [42]:
print("rows: "+ str(len(exprs_data)) + ", columns: " + str(len(exprs_data[0])))

rows: 500, columns: 26

In [18]:
feature_data = r('fData(sample.ExpressionSet)')
pheno_data = r('pData(sample.ExpressionSet)')

In [20]:
pheno_data

R object with classes: ('data.frame',) mapped to:
<DataFrame - Python:0x2b1b896bb888 / R:0x2b1b37ad3268>
[FactorVector, FactorVector, FloatVector]
  sex: <class 'rpy2.robjects.vectors.FactorVector'>
  R object with classes: ('factor',) mapped to:
<FactorVector - Python:0x2b1b8a98c908 / R:0x2b1b37bfe0b8>
[Female, Male, Male, Male, ..., Male, Male, Female, Female]
  type: <class 'rpy2.robjects.vectors.FactorVector'>
  R object with classes: ('factor',) mapped to:
<FactorVector - Python:0x2b1b8a98c6c8 / R:0x2b1b37bfe218>
[Control, Case, Control, Case, ..., Control, Control, Case, Case]
  score: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x2b1b8a98c4c8 / R:0x2b1b89e241c0>
[0.750000, 0.400000, 0.730000, 0.420000, ..., 0.270000, 0.980000, 0.940000, 0.320000]

In [22]:
from rpy2.robjects import pandas2ri
import pandas as pd
pandas2ri.activate()

/home/users/hwangzi/tools/anaconda3/envs/study/lib/python3.6/site-packages/rpy2/robjects/pandas2ri.py:17: FutureWarning: pandas.core.index is deprecated and will be removed in a future version.  The public classes are available in the top-level namespace.
  from pandas.core.index import Index as PandasIndex

In [45]:
pd_expression_df = pandas2ri.ri2py_dataframe(expression_df)

In [48]:
pd_expression_df.index = list(rownames(expression_df))

In [49]:
pd_expression_df

,A,B,C,D,E,F,G,H,I,J,...,Q,R,S,T,U,V,W,X,Y,Z
AFFX-MurIL2_at,192.7420,85.75330,176.7570,135.5750,64.49390,76.3569,160.5050,65.9631,56.9039,135.60800,...,179.8450,152.4670,180.83400,85.4146,157.98900,146.8000,93.8829,103.85500,64.4340,175.61500
AFFX-MurIL10_at,97.1370,126.19600,77.9216,93.3713,24.39860,85.5088,98.9086,81.6932,97.8015,90.48380,...,87.6806,108.0320,134.26300,91.4031,-8.68811,85.0212,79.2998,71.65520,64.2369,78.70680
AFFX-MurIL4_at,45.8192,8.83135,33.0632,28.7072,5.94492,28.2925,30.9694,14.7923,14.2399,34.48740,...,32.7911,33.5292,19.81720,20.4190,26.87200,31.1488,22.3420,19.01350,12.1686,17.37800
AFFX-MurFAS_at,22.5445,3.60093,14.6883,12.3397,36.86630,11.2568,23.0034,16.2134,12.0375,4.54978,...,15.9488,14.6753,-7.91911,12.8875,11.91860,12.8324,11.1390,7.55564,19.9849,8.96849
AFFX-BioB-5_at,96.7875,30.43800,46.1271,70.9319,56.17440,42.6756,86.5156,30.7927,19.7183,46.35200,...,58.6239,114.0620,93.44020,22.5168,48.64620,90.2215,42.0053,57.57380,44.8216,61.70440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31735_at,26.7016,33.15780,31.7113,36.6217,26.82840,38.9910,70.0673,37.4181,35.9276,37.80290,...,32.9751,43.3184,30.24850,23.6549,28.99500,58.8501,50.3786,30.42690,35.5309,39.68020
31736_at,446.5120,271.49400,304.8090,340.9780,356.12700,279.0150,393.7300,173.9350,350.8060,285.40900,...,239.8520,501.5310,414.68300,193.0040,282.50700,504.1890,318.6810,304.96000,318.7360,291.70900
31737_at,22.4641,23.45890,39.4170,25.7452,14.40320,27.1660,35.3598,21.2248,41.0651,25.25010,...,20.6530,27.4930,32.08050,15.0567,21.90040,31.6534,22.9250,14.90170,22.7341,24.27460
31738_at,299.4340,233.13800,355.2040,314.8180,238.68400,205.6970,400.9550,218.9350,155.0070,320.90400,...,237.0430,287.3330,292.53700,284.3280,223.67900,273.7800,283.9620,230.87800,216.6520,297.74000
31739_at,253.6920,183.30600,291.3850,270.7190,212.02500,225.3570,267.0190,213.4790,147.5640,258.65800,...,310.9600,262.5670,337.14000,304.2200,247.84300,202.2840,180.5560,247.59000,137.9590,287.74900

In [25]:
type(pd_expression_df)

pandas.core.frame.DataFrame